<div class="container-fluid back-bg">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 white mt">
        <h1>Sales Data</h1>
        <p>Select your view:</p>
        <div class="mb">
          <button type="button" class="btn btn-default" ui-sref="sales">Total</button>
          <button type="button" class="btn btn-default disabled">Product</button>
          <button type="button" class="btn btn-default" ui-sref="neighborhood">Neighborhood</button>
          <button type="button" class="btn btn-default active">Channel</button>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 graph-card" min-height="500px">
      <h2 class="mt">Displaying total sales by: Neighborhood</h2>
      <!-- <prices class="line"></prices> -->
      <!-- <product class="lines"></prices> -->
      <!-- <pie id="chart"></pie> -->
      <channel></channel>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-1 graph-card mt">
      <h3 class="mb">Tips and Tricks</h3>
    </div>
    <div class="col-md-2 col-md-offset-1 graph-card mt">
      <h3 class="mb">Weekly Summary</h3>
    </div>
    <div class="col-md-2 col-md-offset-1 graph-card mt">
      <h3 class="mb">Forecasts &amp; Alerts</h3> 
      <p class="mb"><strong>Pro Tip:</strong> Get live weather forecasts and set up custom alerts.</p>
      <button type="button" class="btn btn-default active mb">Forecasts &amp; Alerts</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
