
<h1>hey</h1>
<div class="jumbotron">

 <div class="chart"></div>

  <h3 class="info-menu">Gender breakdown by field of study for US scientists and engineers with PhDs employed in academia</h3>

  <bar-chart class="info-chart">
    <div class="tooltip hidden">
      <p><span class="value">100</span> thousand</p>
    </div>
    <div class="key">
    <ul>
      
    </ul>
    </div>

   </bar-chart>
   <p class="info-menu">
   <select class="position-dropdown">
   <option value="all-positions">All positions</option>
   <option value="full-time-senior">Full-time senior faculty</option>
   <option value="full-time-junior">Full-time junior faculty</option>
   <option value="other-full-time">Other full-time positions</option>
   <option value="postdoc">Postdocs</option>
   <option value="part-time">Part-time positions</option>
   </select>
   <select class="field-dropdown">
   <option value="all-fields">All fields</option>
   <option value="physical-sciences">Physical sciences</option>
   <option value="mathematics">Mathematics</option>
   <option value="computer-sciences">Computer sciences</option>
   <option value="life-sciences">Life sciences</option>
   <option value="psychology">Psychology</option>
   <option value="social-sciences">Social sciences</option>
   <option value="engineering">Engineering</option>
   </select>
   Adjust scale: <input type="checkbox"/>
   </p>
</div>
