<div class="container-fluid back-bg">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 white mt">
        <h1>Forecasts &amp; Analytics</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 graph-card mt" min-height="500px">
      <h2 class="mt">Boston 7 Days Weather Forecast</h2>
      <forecastDirective class="line"></forecastDirective>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
