<div class="container-fluid back-bg">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 white mt">
        <h1>Sales Data</h1>
        <p>Select your view:</p>
        <div class="mb">
          <button type="button" class="btn btn-default active" id="total">Total</button>
          <button type="button" class="btn btn-default" id="product">Product</button>
          <button type="button" class="btn btn-default" ui-sref="neighborhood">Neighborhood</button>
          <button type="button" class="btn btn-default" ui-sref="channel">Channel</button>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 graph-card mt" min-height="500px">
      <h2 class="mt">Displaying sales by: Total</h2>
      <product class="lines"></prices>
    </div>
   
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-1 graph-card mt">
      <h3 class="mb">Tips and Tricks</h3>
    </div>
    <div class="col-md-2 col-md-offset-1 graph-card mt">
      <h3 class="mb">Weekly Summary</h3>
    </div>
    <div class="col-md-2 col-md-offset-1 graph-card mt">
      <h3 class="mb">Forecasts &amp; Alerts</h3> 
      <p class="mb"><strong>Pro Tip:</strong> Get live weather forecasts and set up custom alerts.</p>
      <a type="button" class="btn btn-default active mb btn-hov" ui-sref="forecast">Forecasts &amp; Alerts</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
