<div class="container-fluid back-bg">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 white mt">
        <h1>Sales Data</h1>
        <p>Select your view:</p>
        <div class="mb">
          <button type="button" class="btn btn-default active">Total</button>
          <button type="button" class="btn btn-default disabled">Product</button>
          <button type="button" class="btn btn-default disabled">Neighborhood</button>
          <button type="button" class="btn btn-default disabled">Channel</button>
        </div>
    </div>
  </div>

  <p>
    Choose time period
    <select id="date-option">
      <option value="12">Last year</option>
      <option value="6">Last 6 Months</option>
      <option value="3">Last 3 Months</option>
    </select>
  </p>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 graph-card mt" min-height="500px">
      <h2 class="mt">Displaying sales by: Total</h2>
      <prices class="line"></prices>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
